<div class="ui basic segment" id="header-reset">
	<div class="ui stackable equal width grid middle aligned">
		<div class="column">
			<h3 class="ui header">
				<div class="content">
					Model
					<div class="sub header"> <i> Data modal bagian gitar </i> </div>
				</div>
			</h3>
		</div>
		<div class="column">
			<a class="ui black button right floated small" routerLink="/menu-utama/model/tambah-data"> Tambah Data Baru </a>
		</div>
	</div>
</div>

<div class="ui segment">
	<div class="ui transparent left icon input fluid large" id="cari-data">
		<input type="text" placeholder="Cari data ..." [ngModel]="dataCari" (ngModelChange)="cariData($event)">
		<i class="search link icon"></i>
	</div>
</div>

<div class="ui segment">
	<table class="ui basic selectable small table">
		<thead>
			<tr>
				<th class="one wide"> ID </th>
				<th class="three wide"> Nama </th>
				<th class="two wide"> Keterangan </th>
				<th class="two wide"> Bagian Gitar </th>
				<th class="two wide"> Harga </th>
				<th class="two wide"> gambar </th>
				<th class="center aligned two wide"> Action </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="data.length == 0 ">
				<td colspan="7" class="center aligned">
					<div class="ui basic segment">
						<h4 class="ui header"> Tidak ada data yang dapat ditemukan pada database! </h4>
					</div>
				</td>
			</tr>
		
			<tr *ngFor="let item of data">
				<td> {{ item.idModel }} </td>
				<td> {{ item.namaModel }} </td>
				<td> {{ item.keteranganModel }} </td>
				<td> {{ item.bagianGitar }} </td>
				<td> Rp. {{ item.hargaModel | number:'1.2-2' }} </td>
				<td>
					<img class="ui tiny image" [src]="item.gambarModel">
				</td>
				<td class="center aligned">
					<div class="ui black button small icon circular" routerLink="/menu-utama/model/ubah-data/{{item.idModel}}">
						<i class="icon edit"></i>
					</div>
					<div class="ui black button small icon circular" (click)="modalHapus(item)">
						<i class="icon trash"></i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- modal hapus data -->
<div class="ui small modal" id="hapus-data">
	<div class="header"> 
		<span> Hapus Data </span>
	</div>
	<div class="content">
		Apakah anda yakin ingin menghapus data ini?
	</div>
	<div class="actions">
		<!-- button simpan data -->
		<div class="ui black button" (click)="hapusData()"> Ya </div>
		<div class="ui black button cancel"> Tidak </div>
	</div>
</div>
