#canvas {
	width: 100%;
	height: 100%;
}

#content-3d-segment {
	height: calc(100% - 34px);
	padding: 0;
	overflow: hidden;
}

#content-3d-segment {
	cursor: grab;
}

#content-3d-segment:active {
	cursor: grabbing;
}