<div class="ui very padded inverted segment basic" id="menu-set-padding">
	<div class="ui inverted secondary menu">
		<div class="item"> Administrator </div>
		<a class="item" routerLink="/menu-utama-administrator/petugas"  routerLinkActive="active"> Pengelola </a>

		<div class="right menu">
			<div class="item"> </div>
			<a class="item" (click)="logout()"> Logout </a>
		</div>
	</div>
</div>

<div class="ui very padded basic segment" id="content-segment">
	<router-outlet></router-outlet>
</div>
