<div class="ui basic segment" id="header-reset">
	<div class="ui stackable equal width grid middle aligned">
		<div class="column">
			<h3 class="ui header">
				<div class="content">
					Model / Tambah Data Baru
					<div class="sub header"> <i> Tambah data baru untuk model setiap bagian gitar </i> </div>
				</div>
			</h3>
		</div>
		<div class="column">
			<a class="ui black button right floated small" style="visibility: hidden;"> Tambah Data Baru </a>
		</div>
	</div>
</div>

<div class="ui segment">
	<form id="form-tambah-data-model" class="ui form" onsubmit="return false;" (ngSubmit)="simpan()"> 
		<div class="ui three column grid stackable">
			<div class="column">
				<h4 class="ui header"> Data Model </h4>
				<div class="ui divider"></div>
				<div class="field">
					<label> ID Model </label>
					<input type="text" name="idModel" placeholder="ID Model" readonly="" autocomplete="off">
				</div>
				<div class="field">
					<label> Bagian Gitar </label>
					<select class="ui search selection dropdown" name="bagianGitar" id="bagian-gitar"> 
						<option value=""> Bagian Gitar </option>
						<option value="Tuning Machine"> Tuning Machine </option>
						<option value="Logo"> Logo </option>
						<option value="Neck Dan Headstock"> Neck Dan Headstock </option>
						<option value="Nut"> Nut </option>
						<option value="Fingerboard"> Fingerboard </option>
						<option value="Fret"> Fret </option>
						<option value="Inlay"> Inlay </option>
						<option value="Body"> Body </option>
						<option value="Rosette"> Rosette </option>
						<option value="Pickguard"> Pickguard </option>
						<option value="Bridge"> Bridge </option>
						<option value="Saddle"> Saddle </option>
						<option value="Bridge Pin"> Bridge Pin </option>
						<option value="String"> String </option>
					</select>
				</div>
				<div class="field">
					<label> Nama Model </label>
					<input type="text" name="namaModel" placeholder="Nama Model" autocomplete="off">
				</div>
				<div class="field">
					<label> Keterangan Model </label>
					<textarea rows="4" name="keteranganModel" placeholder="Keterangan Model" autocomplete="off"></textarea>
				</div>
				<div class="field">
					<label> Harga Model </label>
					<input type="number" min="0" name="hargaModel" placeholder="Harga Model" autocomplete="off">
				</div>
				<div class="field">
					<label> Gambar Model </label>
					<input type="file" name="gambarModel" #fileGambar>
				</div>
				<div class="field">
					<label> File Model 3D </label>
					<input type="file" name="model3d" #fileModel3d>
				</div>
				<button style="visibility: hidden; display: none;" id="button-simpan"></button>
				<div class="ui error message" id="hidden-message"></div>
			</div>
		</div>
	</form>

	<div class="ui basic segment" style="padding-left: 0; padding-right: 0;">
		<!-- <div class="ui divider"></div> -->
		<div class="ui black button" id="simpan-tambah-data-model"> Simpan </div>
		<div class="ui black button" routerLink="/menu-utama/model"> Kembali </div>
	</div>
</div>